# Core
onnx
#>=1.14.0
onnxruntime
#>=1.16.0
torch
#>=2.0.0
torchvision
#>=0.15.0
ultralytics
#>=8.0.0

# Data / preprocessing
albumentations
numpy
#>=1.24.0
open3d
#>=0.17.0
opencv-python
#>=4.8.0
pandas
#>=2.0.0
pyyaml
#>=6.0
scipy
#>=1.11.0

# Metrics / visualisation
matplotlib
#>=3.7.0
pycocotools
#>=2.0.6
scikit-learn
#>=1.3.0
seaborn
#>=0.12.0

# Notebooks
ipywidgets
#>=8.0.0
jupyter
#>=1.0.0
notebook

# Utilities
loguru
#>=0.7.0
psutil
pyserial
python-dotenv
#>=1.0.0
tqdm
#>=4.65.0